:root {
	--color1: #272d2d;
	--color2: #332526;
	--color3: #001835;
	--color4: #183963;
	--color5: #ffffff;
}
body {
	font-family: 'Noto Sans JP', sans-serif;
}

span {
	font-size: .8rem;
	font-weight: 300;
}
a {
	text-decoration: none;
}

.page {
	position:fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	display:flex;
	flex-direction: row;
}
.nav-bar {
	overflow:hidden;
	display: flex;
	flex-direction: column;
	margin: 50px 0px 50px 20px;
	padding:5px;
	padding-right:30px;
	border-right: 1px;
	border-right-style: solid;
	text-align: right;
}

.nav-bar-name {
	display:flex;
	align-items: end;
	flex: 1;
	padding-bottom: 30px;
	text-transform: lowercase;
	justify-content: center;
}

.nav-bar-name > span > a {
	font-size: 2rem;
	font-weight: 300;
	color: var(--color1);
	text-decoration: none;
}

.nav-bar-name > span > a:hover {
	font-size: 2rem;
	font-weight: 300;
	color: var(--color1);
	text-decoration: none;
	text-shadow: 2px 2px papayawhip;
}
.nav-bar-links {
	display:flex;
	flex-direction: column;
	flex:2;
	padding:5px;
}

.nav-bar-links > span > a {
	font-size: .8rem;
	text-decoration: none;
	color:#f06292;
	text-transform: lowercase;
	font-weight: 300;
}


.nav-bar-links > span > a:hover {
	text-decoration: none;
	color:#f06292;
	text-transform: lowercase;
	text-shadow: 2px 2px papayawhip;
	font-weight: 400;
}


.page-content {
	margin: 50px 10px 10px 10px;
	padding:5px;
	width:100%;
	flex:1;
}

.project-grid {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-auto-rows: 150px;
}

.grid-item {
	padding:10px;
}

.grid-item > .item-title {
	color: pink;
}