:root {
	--color1: #272d2d;
	--color2: #332526;
	--color3: #001835;
	--color4: #183963;
	--color5: #ffffff;
}
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top-nav-bar {
	padding: 0px;
	overflow: hidden;
	background-color: var(--color3);
	text-align: center;
	font-size: x-large;
}
.top-nav-bar a {
	float: left;
	display: block;
	color: var(--color5);
	text-align: center;
	padding: 20px;
	text-decoration: none;
}
.top-nav-bar a:hover {
	background: var(--color4);
	transition:all 0.3s linear;
}